.cuerpo
{
    background-color: antiquewhite;
}
.fila
{
    border:10px solid black;
}
.columna
{
    border: 5px solid burlywood;
    height: 100px;
    background-color: burlywood;
}
.a
{
    height: 100px;
    background-color: pink;
    border: 5px solid black;
} 
.b
{
    height: 100px;
    background-color: skyblue;
    border: 5px solid black;
}
.c
{
    height: 100px;
    background-color: greenyellow;
    border: 5px solid black;
}
.d
{
    height: 100px;
    background-color: orange;
    border: 5px solid black;
}